:root {
  /* ===== COLORS ===== */
  /* PRIMARY */
  --lime-green-clr: hsl(163, 72%, 41%);
  --bright-red-clr: hsl(356, 69%, 56%);
  --facebook-clr: hsl(208, 92%, 53%);
  --twitter-clr: hsl(203, 89%, 53%);
  --instagram-clr: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --youTube-clr: hsl(348, 97%, 39%);

  /* DARK THEME */
  --bg-clr: hsl(230, 17%, 14%);
  --top-bg-pattern-clr: hsl(232, 19%, 15%);
  --card-bg-clr: hsl(228, 28%, 20%);
  --text-clr: hsl(228, 34%, 66%);
  --text-clr-2: hsl(0, 0%, 100%);
}

  [data-theme="light"] {
  --bg-clr: hsl(0, 0%, 100%);
  --top-bg-pattern-clr: hsl(225, 100%, 98%);
  --card-bg-clr: hsl(227, 47%, 96%);
  --text-clr: hsl(228, 12%, 44%);
  --text-clr-2: hsl(230, 17%, 14%);
  }

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-clr-2);

  background-color: var(--bg-clr);
}

img {
  object-fit: contain;
}

p {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* ===== HEADER ===== */
.header h1,
.header p,
.header label {
  font-weight: bold;
}

.header p,
.header label {
  color: var(--text-clr);
}

/* ===== TOGGLE SWITCH ===== */
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
/* ===== END - TOGGLE SWITCH ===== */
/* ===== END - HEADER ===== */


/* ===== BIGGER CARD ===== */
.bigger-cards-list li {
  flex-grow: 0;
  flex-basis: 16em;
}

.bigger-cards-list .card {
  color: inherit;

  background-color: var(--card-bg-clr);
}

.bigger-cards-list .card__followers p:first-child {
  font-size: 4rem;
  font-weight: bold;
}

.bigger-cards-list .card__followers p:last-child {
  color: var(--text-clr);
  letter-spacing: 5px;
}

.bigger-cards-list li .statistics {
  color: var(--lime-green-clr);
  font-weight: bold;
}

.statistics-red {
  color: var(--bright-red-clr) !important;
}
/* ===== END - BIGGER CARD ===== */

/* ===== OVERVIEW CARD ===== */
h2 {
  font-weight: bold;
}

.overview-card li {
  flex-basis: 16em;
}

.overview-card .card {
  color: var(--text-clr-2);

  background-color: var(--card-bg-clr);
}

.overview-card .card div:first-child p {
  color: var(--text-clr);
}

.overview-card .card div:last-child p:first-child {
  font-size: 2rem;
  font-weight: bold;
}
.overview-card .card div:last-child p:last-child {
  color: var(--lime-green-clr);
  font-weight: bold;
}
/* ===== END - OVERVIEW CARD ===== */